/**
 * Default styles
 *
 * @link       https://douple.net
 * @since      1.1.4
 * @package    Douple
 * @author     Douple <support@douple.net>
 */

body {
    background-color: #202224;
}
#wpcontent {
    padding-left: 0;
}
.wrap {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.wrap h1.wp-heading-inline, .wrap h2 {
    color: #FFF;
}
.wrap h3 {
    color: #797b7e;
    padding-left: 0;
}
.lookbook-wrap .notice, .lookbook-wrap div.error, .lookbook-wrap div.updated {
    background: #2a2c2f;
    color: #b7bbc0;
    border-right: none;
    border-top: none;
    border-bottom: none;
    display: none;
}
.lookbook-wrap .notice p {
    color: #b7bbc0;
}
.lookbook-wrap .notice.notice-shoppablelookbook {
    display: block;
}
.lookbook-wrap .nopost {
    background: #2a2c2f;
    color: #b7bbc0;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding: 10px 20px;
    border-left: 3px solid #ffb818;
}
.wrap .wp-heading-inline+.page-title-action {
    background-color: #ffb818;
    border: none;
    color: #FFF;
    padding: 5px 15px;
    margin-left: 10px;
    transition: background-color 0.2s ease;
}
.wrap .wp-heading-inline+.page-title-action:hover {
    background-color: #dd9c09;
    outline: none;
    box-shadow: none;
}
.lookbook_page_shoppable-lookbook-galleries .wrap .wp-heading-inline+.page-title-action {
    background-color: var(--wp-components-color-accent,var(--wp-admin-theme-color,#3858e9));
    color: var(--wp-components-color-accent-inverted,#fff);
}
.lookbook_page_shoppable-lookbook-galleries .wp-heading-inline+.page-title-action:hover {
    background: var(--wp-components-color-accent-darker-10,var(--wp-admin-theme-color-darker-10,#2145e6));
    color: var(--wp-components-color-accent-inverted,#fff)
}
.lookbook-dashicon.dashicons-before:before {
    vertical-align:middle;
}
.wp-core-ui .attachment-preview.landscape {
    max-height: 300px;
}
.wp-core-ui .attachment {
    padding: 12px;
}
.wp-core-ui .attachment .thumbnail:before {
    width: 50px;
    height: 50px;
    content: "\f464";
    display: block;
    color: #FFF;
    opacity: 0;
    visibility: hidden;
    transition: opacity visibility 0.3s ease;
}
.wp-core-ui .attachment .thumbnail:after {
    box-shadow: none;
    background-color: rgba(255,184,24,0);
    transition: background-color 0.3s ease;
}
.wp-core-ui .attachment:hover .thumbnail:after {
    background-color: rgba(255,184,24,.3);
}
.lookbook_page_shoppable-lookbook-galleries .attachment:hover .thumbnail:after {
    background-color: rgba(var(--wp-admin-theme-color),.2);
}
.wp-picker-container .wp-color-result.button {
    border-color: transparent;
}
.wp-picker-container .wp-color-result.button:hover, .wp-picker-container .wp-color-result.button:focus, .wp-picker-container .wp-color-result.button:active {
    outline: none;
    box-shadow: none;
}
.wp-color-result-text {
    background: #3f444a;
    color: #b7bbc0;
    border-left: none;
}
.wp-customizer .wp-picker-input-wrap .button.wp-picker-default, .wp-picker-input-wrap .button.wp-picker-default {
    background: #3f444a;
    color: #b7bbc0;
    border: none;
}
.wp-customizer .wp-picker-input-wrap .button.wp-picker-default:hover, .wp-picker-input-wrap .button.wp-picker-default:hover {
    outline: none;
    box-shadow: none;
}
.wp-picker-open+.wp-picker-input-wrap {
    display: inline-flex;
}

@media only screen and (max-width: 960px) {
    .wp-core-ui .attachment {
        width: 33.3%;
    }
}
@media only screen and (max-width: 782px) {
    #wpbody-content {
        padding-bottom: 0;
    }
    .auto-fold #wpcontent {
        padding-left: 0;
    }
    .wp-core-ui .attachment {
        width: 50%;
        padding: 8px;
    }
    .wrap .wp-heading-inline+.page-title-action {
        margin-left: 5px;
        padding: 5px 10px;
    }
    .wp-core-ui .attachment-preview.landscape {
        max-height: 300px;
    }
}